@media only screen and (max-width:430px) {
 .navi{
    width: 414px;
 }
 .info-section{
    width: 414px;
 }
 footer{
    width: 414px;
    height: 100%;
 }
 .search-bar{
    left: 9%;
 }
 .btn{
    left: 35%;
 }
 .hero{
    height: 100%;
 }
}